/*Autores: Maria Eduarda de Araújo e Raphael Anacleto*/
h1{
    color: white;
}

p{
    font-style: italic;
    color: #ffffff;
}

#id {
    background-color: rgb(235, 62, 62);
}

.classe {
    font-weight: bold;
    text-align: center;
}

div{
    border: 1px solid #05ff1a;
}

